@import "tailwindcss";

@theme inline {
  --color-*: initial;

  --color-accent-foreground: var(--tg-theme-accent-text-color);
  --color-button: var(--tg-theme-button-color);
  --color-button-foreground: var(--tg-theme-button-text-color);
  --color-destructive-foreground: var(--tg-theme-destructive-text-color);
  --color-header: var(--tg-theme-header-bg-color);
  --color-hint-foreground: var(--tg-theme-hint-color);
  --color-link-foreground: var(--tg-theme-link-color);
  --color-secondary: var(--tg-theme-secondary-bg-color);
  --color-section: var(--tg-theme-section-bg-color);
  --color-section-header-foreground: var(--tg-theme-section-header-text-color);
  --color-subtitle-foreground: var(--tg-theme-subtitle-text-color);
  --color-foreground: var(--tg-theme-text-color);
  --color-background: var(--tg-theme-bg-color);
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-secondary text-foreground;

    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
    ::-webkit-scrollbar {
      width: 5px;
    }
    ::-webkit-scrollbar-track {
      background: transparent;
    }
    ::-webkit-scrollbar-thumb {
      background: hsl(var(--border));
      border-radius: 5px;
    }
    * {
      scrollbar-width: thin;
      scrollbar-color: hsl(var(--border)) transparent;
    }
    input[type="search"]::-webkit-search-decoration,
    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-results-button,
    input[type="search"]::-webkit-search-results-decoration {
      -webkit-appearance: none;
      appearance: none;
    }
  }
}

@layer components {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }

  @media (min-width: 1400px) {
    .container {
      max-width: var(--container-max-width-2xl);
    }
  }
}
